.item-container {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}
