.slide-container {
  position: absolute;
  height: 100%;
  margin-left: 100px;
}

.slide-title {
  margin-bottom: 50px;
}

.slide-title,
.slide-subtitle,
.slide-paragraph {
  text-align: left;
}

.slide-paragraph {
  padding-left: 30px;
}
